@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');


/* Global utils */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #edf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.7;
    font-size: 13px;
    height: 100vh;
    display: grid;
    /* align-items: center;
    justify-content: center; */
    /* grid-template-rows: repeat(4, 1fr); */
    background-image: url('./images/header.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: darkslategrey;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

.navbar ul li a {
    margin: .5rem;
    padding: .7rem 2rem;
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover {
    background-color: darksalmon;
    color: darkslategrey;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    /* margin: 10rem 0; */
    font-size: 40px;
}

.header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: darksalmon;
    background-color: whitesmoke;
    padding: 2rem;
}

.header span {
    margin-top: -5rem;
    margin-left: -11.3rem;
    color: darkslategrey
}

/* Brevet */
.brevet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    background-color: darksalmon;
}

.brevet h1 {
    color: darkslategrey;
    font-size: 40px;
    margin-bottom: 1rem;
}

.route-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.info-card h2 {
    font-size: 1.7rem;
}

.info-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 15vh;
}

.info-card-body i {
    text-align: center;
    font-size: 4rem;
    margin: 0 2rem;
    color: darkslategray
}

.info-card-body span {
    margin: 0 2rem;
    color: darksalmon;
}

.frame-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    background-color: darkslategrey;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.arrow h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

.frame-card-header {
    display: flex;
    justify-content: center;
    background-color: darkslategrey;
    color: white;
    width: 100%;
    padding: .5rem 0;
}

.frame-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.frame-card-body p {
    font-size: 1.5rem;
    color: white;
}

.frame-card-body iframe {
    padding: 0;
    margin: 0;
    height: 20vh;
    width: 22rem;
}

/* Iskustva */
.testemonials {
    max-width: 1440px;
    margin: 100px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.card {
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-bottom: 10px;
}

.card__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card__header h3 {
    font-size: 15px;
}

.card__header p {
    opacity: 50%;
}

.card__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #996ed9;
    margin-right: 10px;
}

.card__lead {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
}

.card__quote {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    opacity: 70%;
}

.card--bg-purple {
    background: hsl(263, 55%, 52%);
    color: #fff;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top 10px right 100px;
}

.card--bg-gray-blue {
    background: hsl(217, 19%, 35%);
    color: #fff;
}

.card--bg-black-blue {
    background: hsl(219, 29%, 14%);
    color: #fff;
}

.card:nth-of-type(1) {
    grid-column: 1/3;
}

.card:nth-of-type(4) {
    grid-column: 2/4;
    grid-row: 2;
}

.card:nth-of-type(5) {
    grid-column: 4/5;
    grid-row: 1/3;
}

footer {
    text-align: center;
}

@media (max-width: 1100px) {
    .testemonials {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .card:nth-of-type(1) {
        grid-column: 1;
    }

    .card:nth-of-type(4) {
        grid-column: 1;
        grid-row: 4;
    }

    .card:nth-of-type(5) {
        grid-column: 1;
        grid-row: 5;
    }
}

@media only screen and (max-width: 600px) {
    .info-card-body {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }

    .info-card-body i {
        margin: 1rem 0;
        padding: 0;
    }

    .info-card-body span {
        margin: 0 1.5rem;
        padding: 0;
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 992px) {

    .navbar {
        display: none;
    }
    .route-cards {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .arrow {
        transform: rotate(90deg);
    }


}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1400px) {}